prefix=~/.config/npm-global
//artifactory.ci1.us-west-2.aws-dev.app.snowflake.com/artifactory/api/npm/internal-production-npm-snowflake-virtual/:certfile=/dev/shm/vault-ci-mtls-jzawrotny.pem
//artifactory.ci1.us-west-2.aws-dev.app.snowflake.com/artifactory/api/npm/internal-production-npm-snowflake-virtual/:keyfile=/dev/shm/vault-ci-mtls-jzawrotny.rsa
//artifactory.ci1.us-west-2.aws-dev.app.snowflake.com/artifactory/api/npm/internal-production-npm-streamlit-virtual/:certfile=/dev/shm/vault-ci-mtls-jzawrotny.pem
//artifactory.ci1.us-west-2.aws-dev.app.snowflake.com/artifactory/api/npm/internal-production-npm-streamlit-virtual/:keyfile=/dev/shm/vault-ci-mtls-jzawrotny.rsa
