layout {
  pane size=1 borderless=true {
    plugin location="tab-bar"
  }
  pane split_direction="vertical" {
    pane {
      name "nvim"
      size "66%"
      command "fish"
      args "-liC" "nvim"
    }
    pane split_direction="horizontal" {
      pane
      pane
    }
  }
  pane size=1 borderless=true {
    plugin location="status-bar"
  }
}
