copy_on_select true
default_layout "two-thirds"
default_shell "fish"
mirror_session true
theme "catppuccin-macchiato"

plugins {
	autolock location="file:~/.config/zellij/plugins/zellij-autolock.wasm" {
    is_enabled true
    triggers "nvim|vim|git|fzf|zoxide|atuin"
    watch_interval "3.0"
    watch_triggers "fzf|zoxide|atuin"
	}
}

load_plugins {
  autolock
}

keybinds {
  normal {
    bind "Enter" {
      WriteChars "\u{000D}";
      MessagePlugin "autolock" {};
    }
    bind "Ctrl e" {
      SwitchToMode "Move"
    }
  }

  pane {
    bind "-" { NewPane "Down"; SwitchToMode "Normal"; }
    bind "/" { NewPane "Right"; SwitchToMode "Normal"; }
  }

  shared_except "locked" {
    bind "Ctrl h" { MoveFocusOrTab "Left"; }
    bind "Ctrl l" { MoveFocusOrTab "Right"; }
    bind "Ctrl j" { MoveFocus "Down"; }
    bind "Ctrl k" { MoveFocus "Up"; }
  }
}
